/* atom */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.24;
}

input {
  border: 1px solid #67e0e7;
  border-radius: 10px;
  padding: 4px 16px;
}

button {
  border: none;
  background-color: #67e0e7;
  border-radius: 10px;
  padding: 4px 16px;
}

/* molecule */

form input, form button {
  margin-bottom: 6px;
}

/* parts */
#main-sidebar, #main-footer {
  background-color: aquamarine;
  padding: 20px;
}

#main-footer {
  background-color: rgb(80, 136, 117);
}

/* sidebar */
#main-sidebar form input, 
#main-sidebar form button {
  display: block;
  width: 100%;
}
