@font-face {
  font-family: 'Pontiac';
  src: url('../fonts/pontiac\ black.otf');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Pontiac';
  src: url('../fonts/pontiac\ bold.otf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Pontiac';
  src: url('../fonts/pontiac\ regular.otf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Pontiac';
  src: url('../fonts/pontiac\ light.otf');
  font-style: normal;
  font-weight: 300;
}