$primary: #00c8ff;

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  max-width: 1040px;
  margin: 40px auto;
}
